@import "variables";

.right {
  display: flex;
  color: #9f9f9f;
  cursor: pointer;
  align-items: center;
  & > {
    i, div {
      margin: 0 10px;
    }
  }
  .sound_bar {
    background-color: #404040;
    width: 100px;
    flex: 1px;
    height: 5px;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .current_sound_bar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 70%;
      background-color: #a4a4a4;
      border-radius: 50px;
    }
  }
}