@import "variables";

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden
  }
  .infos {
    padding: 0 10px;
    line-height: 22px;
    .artist {
      color: #8d8d8d;
    }
  }
  .add_to_favorites {
    color: #8d8d8d;
    font-size: 20px;
    align-self: flex-start;
    transform: translateY(5px);
    cursor: pointer;
  }
}